[submodule "siuVic"]
	path = siuVic
	url = https://github.com/vs2961/06_switcheroo_vs.git
[submodule "the_old_switcheroo"]
	path = nathMic
	url = https://github.com/Michael-Nath/the_old_switcheroo.git
[submodule "raoIva"]
	path = raoIva
	url = https://github.com/irao12/systems_06_switcheroo.git
[submodule "hamzahMoh"]
	path = hamzahMoh
	url = https://github.com/ForestDweller014/06_switcheroo
[submodule "jiangVin"]
	path = jiangVin
	url = https://github.com/vjiang10/06_switcheroo_vj.git
[submodule "zhangJin"]
	path = zhangJin
	url = https://github.com/Jinzxc/06_switcheroo_J.git
[submodule "yeGen"]
	path = yeGen
	url = https://github.com/Gene1212/06_switcheroo.git
[submodule "luRan"]
	path = luRan
	url = https://github.com/RandyLu0/work06
[submodule "ku-benjetJer"]
	path = ku-benjetJer
	url = https://github.com/jku20/mk65_06_switcheroo.git
[submodule "yeCul"]
	path = yeCul
	url = https://github.com/CullenLYe/work06_switcheroo.git
[submodule "ahmedTah"]
	path = ahmedTah
	url = https://github.com/TahsinAhmed13/06_switcheroo.git
[submodule "zhangAle"]
	path = zhangAle
	url = https://github.com/Kappachino-Latte/06_switcheroo_zhangAle
[submodule "huMic"]
	path = huMic
	url = https://github.com/GuessHuIAm/homework6
[submodule "zhangDev"]
	path = zhangDev
	url = https://github.com/dzhang10/hw_06_switcheroo.git
[submodule "chenJac"]
	path = chenJac
	url = https://github.com/jchen2003/06_switcheroo.git
[submodule "vostrikovVla"]
	path = vostrikovVla
	url = https://github.com/villinoid/06_systems
[submodule "zhaoGav"]
	path = zhaoGav
	url = https://github.com/gzhao10/hw6.git
[submodule "linLei"]
	path = linLei
	url = https://github.com/llin11/06_switcheroo
[submodule "leeLuc"]
	path = leeLuc
	url = https://github.com/Lucas-Lee11/06_switcheroo.git
[submodule "shenkerEth"]
	path = shenkerEth
	url = https://github.com/ethan-shenker/06_switcheroo_systems.git
[submodule "liSun"]
	path = liSun
	url = https://github.com/sunnyli13/Work06.git
[submodule "siniscalcoFra"]
	path = siniscalcoFra
	url = https://github.com/NopeSiniscalco/06_switcheroo_mks.git
[submodule "hirotaEis"]
	path = hirotaEis
	url = https://github.com/ei5uke/06_switcheroo.git
[submodule "waldAle"]
	path = waldAle
	url = https://github.com/SashaWald/06_work.git
[submodule "leeSte"]
	path = leeSte
	url = https://github.com/kevidgel/06_switcheroo_kevidgel
[submodule "prasadAmi"]
	path = prasadAmi
	url = https://github.com/AmitPr/mks65c-06_switcheroo.git
[submodule "hathawayMay"]
	path = hathawayMay
	url = https://github.com/mayhathaway/systems-06.git
[submodule "misquittaKri"]
	path = misquittaKri
	url = https://github.com/Kristoff1318/Work_06.git
[submodule "haoGan"]
	path = haoGan
	url = https://github.com/haotianGan/06_switcheroo
[submodule "liuAli"]
	path = liuAli
	url = https://github.com/aliu889/06_switcheroo_.git
[submodule "sahaAbh"]
	path = sahaAbh
	url = https://github.com/AbhijeetSaha2142/06_switcheroo.git
[submodule "hernandezCar"]
	path = hernandezCar
	url = https://github.com/KarlWithK/06_switcheroo_mks.git
[submodule "chanSer"]
	path = chanSer
	url = https://github.com/schan11/chanSer.git
[submodule "maoMad"]
	path = maoMad
	url = https://github.com/madelynxmao/06_switcheroo.git
[submodule "zhengYul"]
	path = zhengYul
	url = https://github.com/yzheng10/06_Switcharoo.git
[submodule "zhouKel"]
	path = zhouKel
	url = https://github.com/KellyZhou223/06switcheroo.git
[submodule "huLuc"]
	path = huLuc
	url = https://github.com/lhu10/systems_06_switcheroo.git
