[submodule "siuVic"]
	path = siuVic
	url = https://github.com/vs2961/06_switcheroo_vs.git
[submodule "the_old_switcheroo"]
	path = nathMic
	url = https://github.com/Michael-Nath/the_old_switcheroo.git
[submodule "raoIva"]
	path = raoIva
	url = https://github.com/irao12/systems_06_switcheroo.git
[submodule "hamzahMoh"]
	path = hamzahMoh
	url = https://github.com/ForestDweller014/06_switcheroo
[submodule "jiangVin"]
	path = jiangVin
	url = https://github.com/vjiang10/06_switcheroo_vj.git
[submodule "zhangJin"]
	path = zhangJin
	url = https://github.com/Jinzxc/06_switcheroo_J.git
[submodule "yeGen"]
	path = yeGen
	url = https://github.com/Gene1212/06_switcheroo.git
[submodule "luRan"]
	path = luRan
	url = https://github.com/RandyLu0/work06
[submodule "ku-benjetJer"]
	path = ku-benjetJer
	url = https://github.com/jku20/mk65_06_switcheroo.git
[submodule "ahmedTah"]
	path = ahmedTah
	url = git@github.com:TahsinAhmed13/06_switcheroo.git
